@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,100,900");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");
body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Lato", sans-serif;
  font-weight: 800;
}
div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 210px;
}
h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
}
h2 {
  letter-spacing: 2px;
}

button {
  font-family: "Quicksand", sans-serif;
  padding: 20px;
  background-color: transparent;
  border: 1px solid;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.1em;
}

button:active {
  transform: scale(0.95);
  box-shadow: 5px 2px 22px 10px rgba(0, 0, 0, 0.24);
}

button {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}

button span {
  z-index: 20;
}

button:after {
  background: #fff;
  content: "";
  height: 165px;
  left: -95px;
  opacity: 0.5;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

button:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
